
canvas {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #111;
	display: none;
}

body {
  margin: 0 auto;
  width: 80vw;
  background-color: #1abc9c;
  color: white;
}

#bot span
{
  margin-left: -8px;
  font-size: 250px;
}

.button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100%;
  font-weight: bold;
}

.button button:hover {
  background-color: #34495e;
  color: white;
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}

button {
  background-color:white;
  color:#1abc9c;
  margin-top:2%;
}

.content {
  margin-top: 5%;
}
#quote-author {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 100%;
}
#quote-title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 100%;
  font-weight: bolder;
  background-color: #34495e;
  padding: 5%;
  border-radius: 3px;
}
.ban {
  font-family: Lobster;
  font-size: 300%;
}
.coder {
  font-family: 'Droid Sans', sans-serif;
}
