.copaGrande {
    background-image: url(../img/copaGrande.png);
    background-repeat: no-repeat;
    background-size: contain;
}


canvas {
	position: absolute;
	top: 100;
	left: 80;
	background-color:black;
	display: none;
}

body {
  margin: 0 auto;
  width: 80vw;
  background: url(../img/pop7.jpg);
  background-size: cover;
  color: white;
}

#bot span
{
  margin-left: -8px;
  font-size: 250px;
}

.button  {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 90%;
  font-weight: bold;
  color: darkblue;
  margin-right: -1%
 
}

.button button:hover {
  background-color: yellow;
  color: darkblue;
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}

button {
  background-color:yellow;
  color: darkblue;
  margin-top:0%;
  margin-left: 1%
}

.content {
  margin-top: 5%;
}
#quote-author {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 100%;
}
#quote-title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 100%;
  font-weight: bolder;
  background-color: #0000;
  padding: 5%;
  border-radius: 3px;
}
.ban {
  font-family: Lobster;
  font-size: 300%;
}
.coder {
  font-family: 'Droid Sans', sans-serif;
}
X