
.text3D {
    /* position: relative; */
/*  top: 50%; */
    right: 30%; 
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 4em;
    font-weight: 700;
    color: #0A6CF0;
    text-shadow: 1px 1px 1px #ffffff,
        1px 2px 1px #ffffff,
        1px 3px 1px #ffffff,
        1px 4px 1px #ffffff,
        1px 5px 1px #ffffff,
        1px 6px 1px #ffffff,
        1px 7px 1px #ffffff,
        1px 8px 1px #0A6CF0,
        1px 9px 1px #0A6CF0,
        1px 10px 1px #0A6CF0,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }

  .text3DG {
    position: absolute;
    top: -25%;
    right: 50%; 
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 4em;
    font-weight: 700;
    color: #0A6CF0;
    text-shadow: 1px 1px 1px #CECB00,
        1px 2px 1px #CECB00,
        1px 3px 1px #CECB00,
        1px 4px 1px #CECB00,
        1px 5px 1px #CECB00,
        1px 6px 1px #CECB00,
        1px 7px 1px #CECB00,
        1px 8px 1px #CECB00,
        1px 9px 1px #CECB00,
        1px 10px 1px #CECB00,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }

  .text3Dh1 {
    position: relative;
/*  top: 50%; 
    right: 30%; */
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #0A6CF0;
    text-shadow: 1px 1px 1px #CECB00,
        1px 2px 1px #CECB00,
        1px 3px 1px #CECB00,
        1px 4px 1px #CECB00,
        1px 5px 1px #CECB00,
        1px 6px 1px #CECB00,
        1px 7px 1px #CECB00,
        1px 8px 1px #CECB00,
        1px 9px 1px #CECB00,
        1px 10px 1px #CECB00,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }

  .text3D2 {
    position: center;
/*  top: 50%; */
    right: 30%; 
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 1em;
    font-weight: 1000;
    color: #0A6CF0;
    text-shadow: 1px 1px 1px #CECB00,
        1px 2px 1px #CECB00,
        1px 3px 1px #CECB00,
        1px 4px 1px #CECB00,
        1px 5px 1px #CECB00,
        1px 6px 1px #cecb0000,
        1px 7px 1px #cecb0000,
        1px 8px 1px #cecb0000,
        1px 9px 1px #cecb0000,
        1px 10px 1px #cecb0000,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }

  .text3D3 {
    position: center;
/*  top: 50%; */
    right: 30%; 
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 4em;
    font-weight: 700;
    color: #f00a0a;
    text-shadow: 1px 1px 1px #ffffff,
        1px 2px 1px #ffffff,
        1px 3px 1px #ffffff,
        1px 4px 1px #ffffff,
        1px 5px 1px #ffffff,
        1px 6px 1px #ffffff,
        1px 7px 1px #ffffff,
        1px 8px 1px #ffffff,
        1px 9px 1px #ffffff,
        1px 10px 1px #ffffff,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }

  .circulo {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	background: #4775ca;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin:0px auto;
  padding:3%
}

.circulo > h2 {
	font-family: sans-serif;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
}

* {
  font-family: 'open sans';
}
#contain {
  height: 400px;  
  overflow-y: scroll;  
}
#table_scroll {
  overflow: hidden;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 100px;
}
#table_scroll tbody td {
  overflow: hidden;
  padding: 10px;
  background-color: #00bcd4;
  color: #fff;
}
#table_fixed thead th {
  overflow: hidden;
  padding: 10px;
  background-color: #200be0;
  color: #fff;
  font-weight: 100;
}

.divPadre {
  height:100px;
   text-align:center;
}
.divHijo {
  height:50px;
  width:400px;
   margin:0px auto;
}


      #full-screen-background-image {
        z-index: -999;
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
      }

      #wrapper {
        position: relative;
        width: 800px;
        min-height: 400px;
        margin: 100px auto;
        color: #333;
      }

      a:link, a:visited, a:hover {
        color: #333;
        font-style: italic;
      }

      a.to-top:link,
      a.to-top:visited, 
      a.to-top:hover {
        margin-top: 1000px;
        display: block;
        font-weight: bold;
        padding-bottom: 30px;
        font-size: 30px;
      }

      ::-webkit-scrollbar {
        display: none;
    }

    .container1{
      margin: 2% auto;
      width: 210px;
      height: 140px;
      position: relative;
      perspective: 1000px;
    }
    #carousel{
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      animation: rotation 200s infinite linear;
    }
    #carousel:hover{
      animation-play-state: paused;
    }
    #carousel figure{
      display: block;
      position: absolute;
      width: 186px;
      height: 116px;
      left: 10px;
      top: 10px;
      background: black;
      overflow: hidden;
      border: solid 5px black;
    }
    #carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
    #carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
    #carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
    #carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
    #carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
    #carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
    #carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
    #carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
    #carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

    
    @keyframes rotation{
      from{
        transform: rotateY(0deg);
      }
      to{
        transform: rotateY(360deg);
      }
    }

    